@import 'mixins';

$green: #37806B;
$brown: #CAA892;
$light-gray100: #EBEBEB;
$light-gray200: #EEEEEE;
$dark-gray300: #646464;
$title-text: #212121;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-menu2 {
  display: flex;height: 100px;
  align-items: center;
  
  .menu{
    display: flex;
    align-items: center;
    @media(max-width:850px){
    margin-right: 20px;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    background: $green;
    width: 70%;
    z-index: 90;
    box-shadow: 0 0  10px rgb(216, 216, 216);
    font-size: 30px;
  }
  }
  .menu-burgir{
    width: 40px;
    height: 40px;
    background: #212121;
    border-radius: 25%;
    margin-left: 40px;
    cursor: pointer;
    display: none;
    @media(max-width:850px){
      display: block;
    }
    @media(max-width:420px){
      width: 25px;
    height: 25px;
    margin-left: 20px;
    }
  }
.nav-logo{
  margin-right: auto;
  width: 151px;
  height: 47px;
  @media(max-width:420px){
    width: 102px;
  height: 32px;
  }
}
  .menu-item {
    text-transform: uppercase;
    margin-right: 40px;
    @media(max-width:1000px){
      margin-right: 20px;
    }
    .menu-link {
      @include adaptive-font(16, 12);
      transition: 500ms color ease-in-out;
      font-weight: 500;
      @media(max-width:850px){
        color: white;
        font-weight: 700;
        font-size: 20px;
      }
      &:hover {
        color: #646464;
      }
    }
  }
  .sign-up-btn{
    background: #CAA892;
    color: white;
    outline: none;
    border: none;
    border-radius: 15px 0 15px 0;
    font-weight: 600;
    transition: 300ms all ease-in-out;

    cursor: pointer;
    &:hover{
        background: $green;
    }
    @include adaptive-font(16, 13);
    padding: 8px 16px;
    @media(max-width:420px){
      padding: 5px 10px;
    }
  }
}

.main-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  @media(max-width:688px){
    grid-template-columns: 1fr;
  }

  .main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4{
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 20px;
      @include adaptive-font(20, 13);
    }
    h1{
      @include adaptive-font(72, 29);
      font-weight: 700;
      text-transform: capitalize;
      max-width: 552px;
    }
    p{
      max-width: 602px;
      font-size: 18px;
      color: #646464;
      line-height: 30px;
      margin: 20px 0;
      @media(max-width:420px){
        font-size: 16px;
        line-height: 23px;
      }
    }
    a{
      background: $green;
    color: white;
    text-transform: capitalize;

    width: 90px;
    border-radius: 15px 0 15px 0;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 16px;
    transition: 300ms all ease-in-out;
    &:hover{
      background: $brown;
    }
    }
  }
  .main-image{
    width: 100%;
    border-radius: 25% 0 25% 0;
    position: relative;
    @media(max-width:688px){
      margin-top: 50px;
    }
    &:after{
      content: '';
      width: inherit;
      padding-bottom: 88%;
      border: #CAA892 solid 3px;
      border-radius: 25% 0 25% 0;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: -1;
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 25% 0 25% 0;
      object-fit: cover;
      
    }
  }
}
