* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 375px) {
  .container {
    padding: 0 15px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu2 {
  display: flex;
  height: 100px;
  align-items: center;
}
.nav-menu2 .menu {
  display: flex;
  align-items: center;
}
@media (max-width: 850px) {
  .nav-menu2 .menu {
    margin-right: 20px;
    position: fixed;
    color: white;
    top: 0;
    left: -70%;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    background: #37806B;
    width: 70%;
    z-index: 90;
    transition: 1s;
    box-shadow: 0 0 10px #d8d8d8;
    font-size: 30px;
  }
}
.nav-menu2 .menu-burgir {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 850px) {
  .nav-menu2 .menu-burgir {
    display: block;
  }
}
@media (max-width: 420px) {
  .nav-menu2 .menu-burgir {
    width: 25px;
    height: 25px;
    margin-left: 20px;
  }
}
.nav-menu2 .nav-logo {
  margin-right: auto;
  font-size: 47px;
  width: 151px;
}
@media (max-width: 420px) {
  .nav-menu2 .nav-logo {
    font-size: 32px;
  }
}
.nav-menu2 .menu-item {
  text-transform: uppercase;
  margin-right: 40px;
}
@media (max-width: 1000px) {
  .nav-menu2 .menu-item {
    margin-right: 20px;
  }
}
.nav-menu2 .menu-item .menu-link {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  transition: 500ms color ease-in-out;
  font-weight: 500;
}
@media (max-width: 850px) {
  .nav-menu2 .menu-item .menu-link {
    color: white;
    font-weight: 700;
    font-size: 20px;
  }
}
.nav-menu2 .menu-item .menu-link:hover {
  color: #37806B;
}
@media (max-width: 850px) {
  .nav-menu2 .menu-item .menu-link:hover {
    padding: 8px 15px;
    background: #CAA892;
    border-radius: 20px 0 20px 0;
    color: white;
  }
}
.nav-menu2 .sign-up-btn {
  background: #CAA892;
  color: white;
  outline: none;
  border: none;
  border-radius: 15px 0 15px 0;
  font-weight: 600;
  transition: 300ms all ease-in-out;
  cursor: pointer;
  font-size: calc(13px + 3 * ((100vw - 320px) / 1120));
  padding: 8px 16px;
}
.nav-menu2 .sign-up-btn:hover {
  background: #37806B;
}
@media (max-width: 420px) {
  .nav-menu2 .sign-up-btn {
    padding: 5px 10px;
  }
}

.menu23 {
  height: 40px;
  width: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hambergerIcon {
  height: 5px;
  width: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #37806B;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s;
}
.hambergerIcon::before, .hambergerIcon::after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  transition: all ease 0.5s;
}
.hambergerIcon::before {
  top: -10px;
  left: 0;
  transform-origin: left;
}
.hambergerIcon::after {
  bottom: -10px;
  right: 0;
  transform-origin: right;
}

.open3 {
  transform: translate(-50%, -50%) rotate(135deg);
}
.open3::before {
  top: 0;
  transform: translateX(100%) rotate(-90deg);
}
.open3::after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg);
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
@media (max-width: 688px) {
  .main-wrapper {
    grid-template-columns: 1fr;
  }
}
.main-wrapper .main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-wrapper .main-title h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: calc(13px + 7 * ((100vw - 320px) / 1120));
}
.main-wrapper .main-title h1 {
  font-size: calc(29px + 43 * ((100vw - 320px) / 1120));
  font-weight: 700;
  text-transform: capitalize;
  max-width: 552px;
}
.main-wrapper .main-title p {
  max-width: 602px;
  font-size: 18px;
  color: #646464;
  line-height: 30px;
  margin: 20px 0;
}
@media (max-width: 836px) {
  .main-wrapper .main-title p {
    max-width: 366px;
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 688px) {
  .main-wrapper .main-title p {
    max-width: 100%;
  }
}
@media (max-width: 420px) {
  .main-wrapper .main-title p {
    font-size: 16px;
    line-height: 23px;
  }
}
.main-wrapper .main-title a {
  background: #37806B;
  color: white;
  text-transform: capitalize;
  width: 90px;
  border-radius: 15px 0 15px 0;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  transition: 300ms all ease-in-out;
}
.main-wrapper .main-title a:hover {
  background: #CAA892;
}

.menu.open {
  left: 0;
}

.main-image {
  width: 100%;
  height: 96%;
  border-radius: 25% 0 25% 0;
  position: relative;
  align-self: center;
}
@media (max-width: 688px) {
  .main-image {
    margin-top: 50px;
  }
}
.main-image:after {
  content: "";
  width: 100%;
  height: 100%;
  border: #CAA892 solid 3px;
  border-radius: 25% 0 25% 0;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -1;
}
@media (max-width: 375px) {
  .main-image:after {
    top: 7px;
    left: 7px;
  }
}
.main-image img {
  width: 100%;
  height: 100%;
  border-radius: 25% 0 25% 0;
  object-fit: cover;
}

.main-title.revert-mod-one {
  order: 2;
  margin-left: 50px;
}
@media (max-width: 1040px) {
  .main-title.revert-mod-one {
    margin-left: 20px;
  }
}
@media (max-width: 689px) {
  .main-title.revert-mod-one {
    margin-top: 64px;
  }
}
.main-title.revert-mod-one h1 {
  font-size: calc(29px + 19 * ((100vw - 320px) / 1120));
  font-weight: 700;
  text-transform: capitalize;
}

.main-image.revert-mod-two:after {
  top: -20px;
  left: -20px;
}
@media (max-width: 375px) {
  .main-image.revert-mod-two:after {
    top: -10px;
    left: -10px;
  }
}

.main-title.mod-title h4 {
  font-size: 212px;
  font-weight: 700;
  background: url(../img/sofa.jpg) no-repeat center/cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-title.mod-title h1 {
  font-size: 50px;
  margin: -40px 0 40px 0;
}

@media (max-width: 607px) {
  .section-one {
    margin-top: -107px;
  }
}

.section-two {
  margin: 56px 0 130px 0;
}

.our {
  width: 100%;
  height: 250px;
  margin-top: 150px;
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide {
  display: flex;
  background: #ffffff;
  border-radius: 50px 0 50px 0;
  padding: 30px 21px 35px 37px;
  margin: 7px;
  box-shadow: 0 0 10px #c4c4c4;
  transition: 300ms all ease-in-out;
  cursor: grab;
}
@media (max-width: 375px) {
  .slide {
    padding: 20px 10px 17px 27px;
  }
}
@media (max-width: 320px) {
  .slide {
    padding: 15px 10px 10px 20px;
  }
}
.slide .icon {
  margin-top: 10.5px;
  margin-right: 18px;
  font-size: 40px;
}
@media (max-width: 320px) {
  .slide .icon {
    margin-top: 2.5px;
    margin-right: 5px;
    font-size: 30px;
    width: 30px;
  }
}
.slide .text_wrap {
  display: flex;
  flex-direction: column;
}
.slide .text_wrap .title {
  font-size: calc(13px + 11 * ((100vw - 320px) / 1120));
  margin-bottom: 10px;
}
@media (max-width: 320px) {
  .slide .text_wrap .title {
    margin-bottom: 5px;
  }
}
.slide .text_wrap .text {
  font-size: calc(8px + 10 * ((100vw - 320px) / 1120));
  color: #646464;
  line-height: 28px;
  transition: 300ms all ease-in-out;
}
@media (max-width: 1312px) {
  .slide .text_wrap .text {
    line-height: 18px;
  }
}
@media (max-width: 320px) {
  .slide .text_wrap .text {
    line-height: 14px;
  }
}
.slide:hover {
  background: #CAA892;
  color: white !important;
  fill: white;
}
.slide:hover .text {
  color: white;
}

.swiper-arrows {
  width: 80px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: -54px;
  right: 90px;
}
@media (max-width: 689px) {
  .swiper-arrows {
    top: -38px;
    right: 15px;
  }
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: "";
  font-family: "icomoon", sans-serif;
  font-size: 10px;
  text-transform: none !important;
}

.swiper-button-next, .swiper-button-prev {
  position: unset;
  display: flex;
  margin: 0;
  color: #ffffff;
  background: #37806B;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 10px #a0a0a0;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
  background: white;
  color: #444444;
}

.sign-up {
  width: 100%;
  text-align: center;
}

.sign-up-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 650px;
}
.sign-up-wrap h1 {
  font-size: 48px;
}
@media (max-width: 425px) {
  .sign-up-wrap h1 {
    font-size: 32px;
  }
}
.sign-up-wrap .border {
  width: 34.32%;
  height: 2px;
  background: #c1c1c1;
  margin: 33px 0 48px 0;
}
.sign-up-wrap p {
  font-size: 18px;
  text-align: center;
  color: #646464;
  margin-bottom: 37px;
  max-width: 619px;
}
@media (max-width: 340px) {
  .sign-up-wrap p {
    font-size: 15px;
  }
}
.sign-up-wrap label {
  padding: 16px;
  background: #EEEEEE;
  border-radius: 20px 0 20px 0;
  position: relative;
  overflow: hidden;
}
@media (max-width: 482px) {
  .sign-up-wrap label {
    overflow: unset;
    padding: 12px;
  }
}
.sign-up-wrap label .sign-input-btn {
  font-size: 14px;
  outline: none;
  border: none;
  background: #37806B;
  color: white;
  height: 100%;
  padding: 0 40px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  right: 0;
  cursor: pointer;
  font-weight: 600;
  transition: 300ms background-color ease-in-out;
}
@media (max-width: 482px) {
  .sign-up-wrap label .sign-input-btn {
    top: 62px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 20px 0 20px 0;
  }
}
.sign-up-wrap label .sign-input-btn:hover {
  background: #CAA892;
}
.sign-up-wrap .sign-input-wrap input {
  width: 700px;
  outline: none;
  border: none;
  background: #EEEEEE;
  font-size: 18px;
}
@media (max-width: 795px) {
  .sign-up-wrap .sign-input-wrap input {
    width: 600px;
  }
}
@media (max-width: 682px) {
  .sign-up-wrap .sign-input-wrap input {
    width: 500px;
  }
}
@media (max-width: 581px) {
  .sign-up-wrap .sign-input-wrap input {
    width: 400px;
  }
}
@media (max-width: 466px) {
  .sign-up-wrap .sign-input-wrap input {
    width: 300px;
  }
}
@media (max-width: 340px) {
  .sign-up-wrap .sign-input-wrap input {
    width: 246px;
  }
}
.sign-up-wrap .sign-input-wrap input::placeholder {
  font-size: 18px;
}

.our-blog {
  width: 100%;
  background: #F8F8F8;
  padding-top: 93px;
}
.our-blog h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.our-blog h1 {
  text-align: center;
  font-size: 48px;
}
@media (max-width: 880px) {
  .our-blog h1 {
    margin-bottom: 50px;
  }
}

.blog-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 880px) {
  .blog-wrapper {
    flex-direction: column;
  }
}

.blog-card {
  margin: 50px;
}
@media (max-width: 880px) {
  .blog-card {
    position: relative;
  }
}
@media (max-width: 801px) {
  .blog-card {
    margin: 10px;
  }
}
.blog-card .blog-image {
  max-width: 500px;
  position: relative;
  padding-bottom: 70%;
}
@media (max-width: 880px) {
  .blog-card .blog-image {
    left: 50%;
    transform: translateX(-50%);
  }
}
.blog-card .blog-image:after {
  content: "";
  width: 100%;
  height: 100%;
  border: #CAA892 solid 2px;
  border-radius: 25% 0 25% 0;
  position: absolute;
  top: 8px;
  left: 8px;
}
.blog-card .blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20% 0 20% 0;
  z-index: 3;
}
.blog-card h2 {
  padding: 40px 20px 20px 20px;
  text-align: center;
}
.blog-card p {
  padding-left: 20px;
  max-width: 550px;
}
@media (max-width: 880px) {
  .blog-card p {
    margin: 0 auto;
    padding-bottom: 142px;
  }
}
.blog-card .blog-btn {
  font-size: 15px;
  outline: none;
  border: none;
  background: #37806B;
  color: white;
  transition: 300ms background-color ease-in-out;
  font-weight: 600;
  margin: 40px 0;
  padding: 13px 33px;
  border-radius: 25px 0 25px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.blog-card .blog-btn:hover {
  background: #CAA892;
}
@media (max-width: 880px) {
  .blog-card .blog-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.complete-work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background: #F8F8F8;
}
.complete-work h1 {
  max-width: 722px;
  font-weight: 600;
  margin-top: 87px;
  font-size: calc(33px + 15 * ((100vw - 320px) / 1120));
}
.complete-work .complete-work-counts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 87px 0 130px 0;
  transition: 1s;
}
@media (max-width: 687px) {
  .complete-work .complete-work-counts {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 705px;
  }
}
.complete-work .complete-work-counts:hover .items:nth-child(2), .complete-work .complete-work-counts:hover .items:last-child {
  transform: translateY(-30%);
}
@media (max-width: 687px) {
  .complete-work .complete-work-counts:hover .items:nth-child(2), .complete-work .complete-work-counts:hover .items:last-child {
    transform: unset;
  }
}
.complete-work .complete-work-counts:hover .items:first-child, .complete-work .complete-work-counts:hover .items:nth-child(3) {
  transform: translateY(50%);
}
@media (max-width: 687px) {
  .complete-work .complete-work-counts:hover .items:first-child, .complete-work .complete-work-counts:hover .items:nth-child(3) {
    transform: unset;
  }
}
.complete-work .complete-work-counts .items {
  cursor: pointer;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 10px #c4c4c4;
  border-radius: 25px 0 25px 0;
  transition: 1s;
}
.complete-work .complete-work-counts .items:nth-child(2), .complete-work .complete-work-counts .items:last-child {
  transform: translateY(50%);
}
.complete-work .complete-work-counts .items h2 {
  font-size: 36px;
  font-weight: 700;
}
.complete-work .complete-work-counts .items p {
  font-size: 13px;
  color: #c4c4c4;
  font-weight: 600;
}
@media (max-width: 687px) {
  .complete-work .complete-work-counts .items:nth-child(2), .complete-work .complete-work-counts .items:last-child {
    transform: translateX(-50%);
  }
  .complete-work .complete-work-counts .items:first-child, .complete-work .complete-work-counts .items:nth-child(3) {
    transform: translateX(50%);
  }
}

.testimonials {
  margin-top: 45px;
  padding-bottom: 123px;
}
.testimonials h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #646464;
  text-align: center;
  margin: 87px 0 30px 0;
}
.testimonials h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 60px;
}
.testimonials .slide-wrap {
  display: flex;
}
.testimonials .one-slide {
  padding: 41px 38px 60px 99px;
  box-shadow: 0 0 10px #c4c4c4;
  border-radius: 70px 0 70px 0;
  position: relative;
  margin: 50px;
  margin-left: 70px;
  cursor: grab;
  max-width: 555px;
}
@media (max-width: 670px) {
  .testimonials .one-slide {
    padding: 21px 28px 30px 49px;
  }
}
@media (max-width: 598px) {
  .testimonials .one-slide {
    margin: 10px;
    margin-left: 25px;
  }
}
.testimonials .one-slide .image {
  width: 130px;
  height: 130px;
  border-radius: 25% 0 25% 0;
  overflow: hidden;
  position: absolute;
  left: -48px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 670px) {
  .testimonials .one-slide .image {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 598px) {
  .testimonials .one-slide .image {
    width: 60px;
    height: 60px;
    left: -23px;
  }
}
.testimonials .one-slide .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials .one-slide h3 {
  font-size: calc(13pxpx + 11px * ((100vw - 320px) / 1120));
  font-weight: 600;
  margin-bottom: 8px;
}
@media (max-width: 598px) {
  .testimonials .one-slide h3 {
    font-size: 11px;
  }
}
.testimonials .one-slide h3 span {
  font-size: 16px;
  color: #646464;
  margin-left: 5px;
}
@media (max-width: 598px) {
  .testimonials .one-slide h3 span {
    font-size: 12px;
  }
}
.testimonials .quote {
  font-size: 25px;
  color: #B0855B;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (max-width: 598px) {
  .testimonials .quote {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .testimonials .quote {
    top: 10px;
    right: 10px;
  }
}
.testimonials p {
  max-width: 434px;
  font-size: calc(10pxpx + 8px * ((100vw - 320px) / 1120));
  color: #646464;
}
@media (max-width: 598px) {
  .testimonials p {
    font-size: 11px;
  }
}

.footer {
  padding: 106px 0 0 0;
  background: #F8F8F8;
}
.footer .copyright {
  border-top: 2px solid #C4C4C4;
}
.footer .copyright p {
  padding: 15px 0;
  font-size: 18px;
  text-align: center;
}
.footer .copyright p span a {
  color: #37806B;
}

.footer-wrap {
  display: flex;
  font-size: 18px;
  margin-bottom: 62px;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-wrap .logo-footer {
  flex: 387px;
  padding: 15px 0;
}
.footer-wrap .logo-footer .logo {
  font-size: 47px;
}
.footer-wrap .logo-footer p {
  max-width: 350px;
  color: #646464;
}
.footer-wrap a {
  color: #646464;
}
.footer-wrap h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #212121;
}
.footer-wrap li {
  margin: 13px 0;
}
.footer-wrap .quick-links {
  flex: 283px;
  padding: 15px 0;
}
.footer-wrap .company {
  flex: 245px;
  padding: 15px 0;
}
.footer-wrap .contact-us {
  flex: 253px;
  padding: 15px 0;
}
.footer-wrap .follow-us {
  flex: 172px;
  padding: 15px 0;
}
.footer-wrap .follow-us .social-icon {
  font-size: 20px;
  color: #ffffff;
  display: flex;
  width: 172px;
  justify-content: space-between;
}
.footer-wrap .follow-us .social-icon i {
  width: 37px;
  height: 37px;
  background: #37806B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms all ease-in-out;
}
.footer-wrap .follow-us .social-icon i:hover {
  color: #37806B;
  background: #CAA892;
  transform: scale(1.2);
}

/*# sourceMappingURL=main.css.map */
