@import 'mixins';

$green: #37806B;
$brown: #CAA892;
$light-gray100: #EBEBEB;
$light-gray200: #EEEEEE;
$dark-gray300: #646464;
$title-text: #212121;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  //background: #ffffff;
  //@include adaptive-font(40, 16);
  //font-weight: 700;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar{

}
.nav-menu {
  display: flex;height: 100px;
  align-items: center;
.nav-logo{
  margin-right: auto;
  width: 151px;
  height: 47px;

}
  .menu-item {
    text-transform: uppercase;

    margin-right: 40px;

    .menu-link {
      font-size: 16px;
      transition: 500ms color ease-in-out;
      font-weight: 500;

      &:hover {
        color: #646464;

      }
    }
  }
  .sign-up-btn{
    width: 97px;
    height: 32px;
    background: #CAA892;
    color: white;
    outline: none;
    border: none;
    border-radius: 15px 0 15px 0;
    font-size: 16px;
  }
}


